<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816424614901-hdggvnrlaa70fds0doe4mcs5aag66d40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816424614901-hdggvnrlaa70fds0doe4mcs5aag66d40</string>
	<key>API_KEY</key>
	<string>AIzaSyBuYrd2ejDV3zXyoR46rr2Y6_E7mquE3YE</string>
	<key>GCM_SENDER_ID</key>
	<string>816424614901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-flutter-5cc68</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-flutter-5cc68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816424614901:ios:c2ae13d1d168afbf6cbebc</string>
</dict>
</plist>